.l-unit {
  &--takeOut {
    height: 681px;
    background-image: url(../img/takeout.png);
    background-size: 100%;
    position: relative;
    @media screen and (min-width:768px) {
      flex-basis: 47%;
    }

    &__header {
      margin-left: 15px;
      color: white;
    }

    &__description {
      position: absolute;
      bottom: 0;
    }
  }

  /* 冗長的になってる。。うまいこと修正したい。 */
  &--eatIn {
    height: 681px;
    background-image: url(../img/eatin.png);
    background-size: 100%;
    position: relative;
    @media screen and (min-width:768px) {
      flex-basis: 47%;
    }

    &__header {
      margin-left: 15px;
      color: white;
    }

    &__description {
      position: absolute;
      bottom: 0;
    }
  }

  &--access {
    background-image: url(../img/map.png) ;

    &__description {
      background-color: black;
      opacity: 0.5;
    }
  }

  &--archive {
    margin: 0px 15px 15px;
    padding-bottom: 30px;
    color: white;
    background-color: #24140e;
    &__image {
      img {
        height: 200px;
        width: 100%;
        object-fit: cover;
      }
    }
    &__header {
      margin-top: 30px;
      margin-left: 15px;
      font-size: 16pt;
    }
  }

  // 出典元
  &--source {
    padding: 20px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    &__footer {
      margin-top: 15px;
    }
  }

  &--image1 {
    margin-bottom: 20px;
  }

  &--box1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;

    &__image {
      flex-basis: 50%;
      .img {
        width: 100%;
        object-fit: cover;
      }
    }

    &__description {
      flex-basis: 50%;
    }
  }

  &--box2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;

    &__description {
      flex-basis: 50%;
    }

    &__image {
      flex-basis: 50%;
      .img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &--box3 {
    margin-bottom: 30px
  }

  &--image2 {
    padding: 0px 30px 100px;
    .img {
      width: 100%;
      object-fit: cover;
    }
  }

  &--image3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
    &__image {
      flex-basis: 47%;
      margin: 5px;
      .img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &--list {
    margin-bottom: 30px;
  }

  &--code {
    background-color: whitesmoke;
    margin-bottom: 30px;
    &__description {
      padding: 30px;
    }
  }
}