.c-list {
    &--branchMenu {
        margin: 30px 30px;
        padding: 0;
        list-style: none;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    &__item {
        margin: 2%;
        height: 681px;
        width: 356px;
        float: left;

        &--left {
            background-image: url("../../../asset/img/takeout.png");
        }

        &--right {
            background-image: url("../../../asset/img/eatin.png");
        }

        .title {
            color: white;
            margin-left: 15px;
        }
    }
}